apiVersion: v1
kind: Service
metadata:
  name: phone-geocoder-app-service
spec:
  selector:
    app: phone-geocoder-app
  ports:
    - protocol: "TCP"
      port: 80
      targetPort: 80
  type: LoadBalancer
